XY-MD02.json
[{"id":"19369771.6d6179","type":"tab","label":"Test","disabled":true,"info":""},{"id":"7c338214.d229fc","type":"modbusSerial in","z":"19369771.6d6179","port":"a62a637d.eb2a6","slaves":"1","start":"1","count":"2","dtype":"input","period":"4","topic":"","name":"","x":160,"y":180,"wires":[["efb951a.6c2fab","b35745e0.f99b48"]]},{"id":"ec7f067e.843198","type":"ui_text","z":"19369771.6d6179","group":"a82c54da.58e038","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} C","layout":"row-spread","x":930,"y":60,"wires":[]},{"id":"6e3947fd.7cddc8","type":"ui_text","z":"19369771.6d6179","group":"a82c54da.58e038","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":920,"y":280,"wires":[]},{"id":"efb951a.6c2fab","type":"debug","z":"19369771.6d6179","name":"","active":true,"console":"false","complete":"false","x":390,"y":80,"wires":[]},{"id":"f1fee3f7.4820b","type":"ui_gauge","z":"19369771.6d6179","name":"","group":"a82c54da.58e038","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{msg.payload.temp}} C","min":0,"max":"40","colors":["#00b32d","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":140,"wires":[]},{"id":"c130c586.3ab3e8","type":"ui_gauge","z":"19369771.6d6179","name":"","group":"a82c54da.58e038","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%RH","format":"{{msg.payload.humid}} %","min":0,"max":"100","colors":["#001eb3","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":380,"wires":[]},{"id":"b35745e0.f99b48","type":"function","z":"19369771.6d6179","name":"Convert data ","func":"/*\nvar regs = msg.payload;\nvar temp = (((regs[0] & 0x00FF) << 8) | (regs[1] & 0xFF))/10;\nvar humid = (((regs[2] & 0x00FF) << 8) | (regs[3] & 0xFF))/10;\n\n// msg.payload = \"{ \\\"temp\\\": \"+temp+\", \\\"humid\\\": \"+humid+\"}\";\n\nvar rsws = { temp:0, humid:0 };\nrsws.temp = temp;\nrsws.humid = humid;\n\nmsg.payload = rsws;\n\nreturn msg;\n*/\nvar Temp = ((msg.payload[0]<<8) + msg.payload[1])/10;\nvar Humi = ((msg.payload[2]<<8) + msg.payload[3])/10;\nvar Temperature = {};\nTemperature.payload = Temp;\nvar Humidity = {};\nHumidity.payload = Humi;\nreturn [Temperature,Humidity]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["4379a1e.e98246","ec7f067e.843198","f1fee3f7.4820b"],["6e3947fd.7cddc8","424b4f5a.69179","c130c586.3ab3e8"]]},{"id":"4379a1e.e98246","type":"debug","z":"19369771.6d6179","name":"","active":true,"console":"false","complete":"false","x":650,"y":40,"wires":[]},{"id":"424b4f5a.69179","type":"debug","z":"19369771.6d6179","name":"","active":true,"console":"false","complete":"false","x":650,"y":360,"wires":[]},{"id":"a62a637d.eb2a6","type":"modbusSerialConfig","port":"/dev/ttyUSB1","baud":"9600","data":"8","parity":"none","stop":"1","name":""},{"id":"a82c54da.58e038","type":"ui_group","name":"XY-MD02","tab":"156af96f.f8fd27","order":5,"disp":true,"width":"6","collapse":false},{"id":"156af96f.f8fd27","type":"ui_tab","name":"Home","icon":"home","order":"1"}]